<a href="https://colab.research.google.com/github/Senhaizer/Python/blob/main/Final_task_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Задача 44:*  
*В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего*  
*из 1 столбца. Ваша задача перевести его в one hot вид.*  
*Сможете ли вы это сделать без get_dummies?*  

*import random*  
*lst = ['robot'] * 10*  
*lst += ['human'] * 10*  
*random.shuffle(lst)*  
*data = pd.DataFrame({'whoAmI':lst})*  
*data.head()*

In [1]:
import pandas as pd
import random
import numpy as np

In [2]:
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)

In [3]:
data = pd.DataFrame({'whoAmI':lst})

In [10]:
data.head()

  whoAmI
0  robot
1  human
2  robot
3  human
4  robot

In [11]:
# new_data = pd.get_dummies(data, columns=['whoAmI'])
# new_data

In [12]:
fiction_data = data.copy()

In [13]:
fiction_data['Robot'] = np.where(fiction_data['whoAmI']=='robot', 1, 0)
fiction_data['Human'] = np.where(fiction_data['whoAmI']=='human', 1, 0)

In [14]:
fiction_data.drop(columns=['whoAmI'],axis=1,inplace=True)

In [15]:
fiction_data.head()

   Robot  Human
0      1      0
1      0      1
2      1      0
3      0      1
4      1      0